@charset "UTF-8";
/* CSS Document 
<link href="index_styles.css" rel="stylesheet" type="text/css"> 
*/

/* margins and the like*/
/* Styles for small devices */
p{   
	width:90%;   
	margin:auto;
}

img{   
	width:100%;
}

@media only screen and (min-width: 768px){ 
/* Styles for devices wider than 768px */
  .navbar-menu {
    display: none;
	}
  
  .navbar-toggle-label {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 20px;
  }
  
  .navbar-toggle-label span {
    display: block;
    height: 3px;
    width: 25px;
    background: #f2f2f2;
    position: relative;
    margin-bottom: 5px;
  }
  
  .navbar-toggle-label span:nth-child(2) {
    width: 20px;
  }
  
  .navbar-toggle-label span:nth-child(3) {
    width: 15px;
  }
  
  #navbar-toggle:checked ~ .navbar-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
	}
@media only screen and (min-width: 700px)
{/* Styles for desktop go here */}

	  
p{  width:45%;
	display: grid; 
	grid-auto-flow: column;
	grid-gap: auto;  
	}   
	
img{     
	width:50%;   
	}
} 

html{
	background-color: white
}

header{
	background-color: black;
	position: relative;
	box-sizing: border-box;
}

header logo{
	display: inline;
	position:relative;
	display: flex;
	align-items:left;
}


/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.navbar-logo img {
  height: 50px;
  width: auto;
}

.navbar-menu {
  display: flex;
}

.navbar-link {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* change the button color */
.navbar-menu .dropdown-btn {
  background-color: #666;
  color: #f2f2f2;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  background-color: #666;
  color: #f2f2f2;
  padding: 10px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* change the color of all links */
.navbar a {
  color: #f2f2f2;
}

/*  change the color of links on hover */
.navbar a:hover {
  color: #ccc;
}
/* body design */

/* body */
h1{
	color: black;
	border: 1px;
	padding: 1px;
	background-color: gray;
	display: block;
	overflow:hidden;
	font-family: 'Share Tech', sans-serif;
}

body{
	height: 125vh;  
	margin: 0px;  
	padding: 30px;  
	background-size: cover;
	background-image: url("images/paper_watermark.jpg");
	font-family: 'Share Tech', sans-serif;
}

/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
