@charset "UTF-8";
/* CSS Document 

<link href="index_styles.css" rel="stylesheet" type="text/css"> 

*/
<script src="web1.js"></script>

/* margins and the like*/
@media only screen and (min-width: 700px)
{/* Styles for desktop go here */}

/* Styles for small devices */
p{   
	width:90%;   
	margin:auto;
}

img{   
	width:100%;
}

@media only screen and (min-width: 700px){ 
/* Styles for devices wider than 700px */   
p{  width:45%;
	display: grid; 
	grid-auto-flow: column;
	grid-gap: auto;  
	}   
	
img{     
	width:50%;   
	}
} 

html{
	background-color: white
}
/* body */
h1{
	color: black;
	border: 1px;
	padding: 1px;
	background-color: gray;
	display: block;
	font-family: 'Share Tech', sans-serif;
}

body{
	height: 125vh;  
	margin-top: 80px;  
	padding: 30px;  
	background-size: cover;   
	 font-family: 'Share Tech', sans-serif;
}

/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Share Tech', sans-serif;
}

}
header logo{
	display: inline;
	position:fixed;
	display:flex;
	align-items:left;
}

header {
	background-color:white;
}

}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Share Tech', sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: cornflowerblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
