@charset "UTF-8";
/* CSS Document 

<link href="index_styles.css" rel="stylesheet" type="text/css"> 

*/

/* margins and the like*/
@media only screen and (min-width: 700px)
{/* Styles for desktop go here */}

/* Styles for small devices */
p{   
	width:90%;   
	margin:auto;
}

img{   
	width:100%;
}

@media only screen and (min-width: 700px){ 
/* Styles for devices wider than 700px */   
p{  width:45%;
	display: grid; 
	grid-auto-flow: column;
	grid-gap: auto;  
	}   
	
img{     
	width:50%;   
	}
} 

html{
	background-color: white
}
/* Header */
h1{
	color: black;
	border: 1px;
	padding: 1px;
	background-color: gray;
	display: block;
	font-family: 'Share Tech', sans-serif;
}

/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Share Tech', sans-serif;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

/* NAVBAR */
.navbar{
	 font-family: 'Share Tech', sans-serif;
	background-color: cornflowerblue;
}
.navbar:hover {
	background-color: gray;
	text-decoration-color: white
}
.nav-links{
	text-align: right;
}

