@charset "UTF-8";
/* CSS Document */
/*UNIVERSAL STYLES */

iframe{
	margin-top: 1000px;
}

p {
	font-family: "din-2014", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h6{
	font-family: "din-2014", sans-serif;
	font-weight: 400;
	font-style: bold;
}

hr{
	height: 10vw;
	color: darkred;
	background-color: darkred;
}
a{
	color: white;
	text-decoration: none;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
}


.navbar a:hover {
	color: #ccc;
}

.navbar-index a:hover {
	color: #ccc;
}

.navbar img{
	width: 60px;
}

.text{
	margins: 0 0 0 0;
}
.text h6{
	font-size: 30px;
	margins:0 0 0 0;
}

.legal{
	background-color: darkred;
}

.legal p{
	color: white;
	text-align: center;
}

body{
	text-align: center;
}

form{
	font-family: "din-2014", sans-serif;
	 background: rgb(121,243,255);
background: linear-gradient(180deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
	border-radius: 25px;
	padding:20px;
}
.check{
		display: inline-block;
  		position: relative;
  		margin-bottom: 12px;
		margin-left:20px;
  		cursor: pointer;
  		font-size: 1.5em;
  		-webkit-user-select: none;
  		-moz-user-select: none;
  		-ms-user-select: none;
  		user-select: none;
}

.fill{
		width: 100%;
  		padding: 1.7%;
  		margin: 1.5% 0;
  		font-size: 1.5em;
  		border-radius: 4px;
  		border: 1px solid #ccc;
  		box-sizing: border-box;
		text-align: center;
}

.fill-p{
	font-size: 1.5em;
}

.submit button{
	font-family: "din-2014", sans-serif;
	font-style: normal;
	font-weight: 400;
	background-color: darkred;
	color: white;
	border-radius: 25px;
	font-size:2em;
	padding:20px;
}

.thanks{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		 background: rgb(121,243,255);
background: linear-gradient(180deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
		border-radius: 25px;
		font-family: "din-2014", sans-serif;
}
.thanks img{
		width: 80%;
		height: 15em;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
}

.thanks h1{
	font-size: 2em;
}
.thanks h6{
	font-size: 1em;
}

.fade-in-image { 
	animation: fadeIn 3s; 
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.info-par a{
	color: black;
		font-family: "din-2014", sans-serif;
		font-weight: 800;
		font-style: normal;
}
.about-par a {
		color: black;
		font-family: "din-2014", sans-serif;
		font-weight: 800;
		font-style: normal;
	}
.booking a{
	text-decoration: underline;
	color: steelblue;
}
@media only screen and ( min-width : 300px ) and (max-width : 670px ){

	img{
		width: 100%;
	}
	
	.navbar{
		background-color: darkred;
	}
	
	.navbar {
		background-color: darkred;
		display: flex;
		align-items: center;
	}
	
	.navbar img{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 150px;
		padding: 5px;
	}
	
	.navbar a {
		margin: 15px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	
	/*HOME PAGE*/
	
	.navbar-index {
  	display: flex;
  	align-items: center;
	justify-content: center;
	background-color: darkred;
	padding: 5px;
}
	.navbar-index a{
		padding: 5px;
	}
	
	.img-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		width:20vw;
		margin-top: -50%;
	}
	
	.dive-btn{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		width:2em;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		
	}
	
	.dive-btn button{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		width: 20vw;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.home {
		width: 100%;
		margin: 0 auto;
	}
	
	.block {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); ;
		border-radius: 25px;
	}

	.block img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.all-block {
		width: 100%;
		margin: 0 auto;
	}
	
	.text {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	.text h6 {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 4vh;
		padding: 12px;
		margin: 0px;
	}

	.text p {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	.text-header{
		display: flex;
		align-content: center;
		justify-content: center;
		text-align: center;
		font-size: 2em;
		margin: -30px;
	}
	.desc{
		display: flex;
		align-items: center;
  		align-content: center;
		text-align: center;
}

	.ct{
	display: flex;
	justify-content: space-between;
  	align-items: center;
  	align-content: center;
	margin-left: 10px;
	margin-right: 10px;
}
	/*the form*/
	.form{
		
	}

	/*ABOUT PAGE*/
	
	.about{
		align-content: center;
		text-align: center;
		border-radius: 25px;
	}
	.about-text{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		 background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
		border-radius: 25px;
	}
	.about img{
		margin: 0px;
		border-radius: 25px;
	}
	.about-text h1{
		font-size: 35px;
		font-family: "din-2014", sans-serif;
	}
	.legal-about{
		color: white;
		background-color: darkred;
	}
	/*INFO PAGE*/
	
	.info{
		width: 70%;
 		height: 100px;
 		position: relative;
  		margin: 0 auto;
	}
	
	.info img{
		display: flex;
		margin:0px;
		padding: 0px;
	}
	
	.info h6{
		font-size: 50px;
		margin: 0px;
	}
	
	.info p{
		
	}
	
	.sre img{
		
	}
	
	.info-sre{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); ;
		border-radius: 25px;
	}
	
	.info-safety{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		 background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
		border-radius: 25px;
	}
	
	.DM{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		 background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
		border-radius: 25px;
	}
	
	.info-hours{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		 background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
		border-radius: 25px;
	}
}

@media only screen and ( min-width : 670px ){
	img{
		width: 100%;
	}
	
	.navbar{
		background-color: darkred;
	}
	
	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.navbar img{
		height: 100px;
		width: auto;
		position: relative;
	}
	
	.navbar a {
		margin: 15px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	
	.navbar-menu{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	/*HOME PAGE*/
	.navbar-index {
  	display: flex;
  	align-items: center;
	justify-content: center;
	background-color: darkred;
	padding: 5px;
}
	.navbar-index a{
		padding: 5px;
		font-size:3vh;
	}
	
	.img-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		width:20vw;
		margin-top: -50%;
	}
	
	.dive-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		margin-top: -25%;
		font-size: 30px;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.dive-btn button{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		width: 20vw;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.home {
		width: 100%;
		margin: 0 auto;
	}
	
	.block {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
		border-radius: 25px;
	}

	.block img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.all-block {
		width: 100%;
		margin: 0 auto;
	}
	.all-block img{
		margin: 0;
	}
	.text {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	.block h6 {
		font-family: "din-2014", sans-serif;
		text-align: center;
		font-size: 4vh;
		padding: 12px;
		margin: 0px;
	}

	.block p {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	
	.lessons{
		position: absolute;
  		text-align: center;
		width:50vw;
 		margin-top: 30%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:14em;
  		color: black;
		border-radius: 25px;
	}
	
	.snorkl{
		position: absolute;
  		text-align: center;
		margin-top:95%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:14em;
  		color: black;
		border-radius: 25px;
	}
	
	.reef{
		position: absolute;
  		text-align: center;
		margin-top:30%;
		width:50vw;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:17em;
  		color: black;
		border-radius: 25px;
	}
 
	.cove{
		position: absolute;
  		text-align: center;
		margin-top:220%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:14em;
  		color: black;
		border-radius: 25px;
	}
		.text-header{
		display: flex;
		align-content: center;
		justify-content: center;
		text-align: center;
		font-size: 2em;
	}
	.desc{
		display: flex;
		align-items: center;
  		align-content: center;
		text-align: center;
		
}
		.desc p{
		display: flex;
		align-items: center;
  		align-content: center;
		text-align: center;		
}
	.ct{
		display: flex;
		justify-content: space-between;
  		align-items: center;
  		align-content: center;
		margin-left: 20px;
		
}
	/*the form*/
	.form{
		
	}
	/*ABOUT PAGE*/
	
	.about{
		width: 90%;
 		height: 100px;
 		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		margin-left: 5%;
		border-radius: 25px;
	}
	
	.about img{
		border-radius: 25px;
	}
	.about h1{
		font-size: 50px;
		font-family: "din-2014", sans-serif;
		font-weight: 800;
		font-style: normal;
	}
	.about-text{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		 background: rgb(121,243,255);
background: linear-gradient(45deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%); 
		border-radius: 25px;
	}
	.legal-about{
		color: white;
		background-color: darkred;
		margin-top:780px;
	}
	/*INFO PAGE*/
	
	.info{
		width: 70%;
 		height: 100px;
 		position: relative;
  		margin: 0 auto;
	}
	
	.info img{
		margin:0px;
		padding: 0px;
	}
	
	.info h6{
		font-size:30px;
		margin: 0px;
	}
	
	.info p{
		
	}
	
	.sre img{
		
	}
	
	.info-sre{
		position: absolute;
  		text-align: center;
		margin-top:15%;
		width:23em;
 		top: 40%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background: rgb(121,243,255);
background: linear-gradient(180deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%);
		height:13em;
  		color: black;
		border-radius: 25px;
	}
	
	.info-safety{
		position: absolute;
  		text-align: center;
		margin-top:65%;
		width:23em;
 		top: 35%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background: rgb(121,243,255);
background: linear-gradient(180deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%);
		height:13em;
  		color: black;
		border-radius: 25px;
	}
	
	.DM{
		position: absolute;
  		text-align: center;
		margin-top:112%;
		width:23em;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background: rgb(121,243,255);
background: linear-gradient(180deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%);
		height:15em;
  		color: black;
		border-radius: 25px;
	}
	
	.info-hours{
		position: absolute;
  		text-align: center;
		margin-top:155%;
		width:23em;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background: rgb(121,243,255);
background: linear-gradient(180deg, rgba(121,243,255,0.6741293532338308) 0%, rgba(172,133,33,0.6791044776119404) 100%);
		height:10em;
  		color: black;
		border-radius: 25px;
	}
	
}
	

@media only screen and ( min-width : 960px ){
	img{
		width: 100%;
	}
	
	.navbar{
		background-color: darkred;
	}
	
	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.navbar img{
		height: 100px;
		width: auto;
		position: relative;
	}
	
	.navbar a {
		margin: 15px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	
	.navbar-menu{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	/*HOME PAGE*/
	
	.navbar-index {
  	display: flex;
  	align-items: center;
	justify-content: center;
	background-color: darkred;
	padding: 5px;
}
	.navbar-index a{
		padding: 5px;
	}
	.img-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		width:20vw;
		margin-top: -50%;
	}
	.dive-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		margin-top: -25%;
		font-size: 30px;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	.dive-btn button{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		width: 20vw;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.home {
		width: 100%;
		margin: 0 auto;
	}
	
	.block {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #6495ed;
		border-radius: 25px;
	}

	.block img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}
	.all-block {
		width: 100%;
		margin: 0 auto;
	}
	.text {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}
	.text h6 {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 4vh;
		padding: 12px;
		margin: 0px;
	}
	.text p {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	.lessons{
		position: absolute;
  		text-align: center;
		margin-top:40%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:17em;
  		color: black;
		border-radius: 25px;
	}
	.snorkl{
		position: absolute;
  		text-align: center;
		margin-top:105%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	.reef{
		position: absolute;
  		text-align: center;
		margin-top:170%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:17em;
  		color: black;
		border-radius: 25px;
	}
	.cove{
		position: absolute;
  		text-align: center;
		margin-top:240%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:15em;
  		color: black;
		border-radius: 25px;
	}
	.text-header{
		display: flex;
		align-content: center;
		justify-content: center;
		text-align: center;
		font-size: 2em;
	}
	.desc{
		display: flex;
		align-items: center;
  		align-content: center;
		text-align: center;
}
	.desc p{
		display: flex;
		align-items: center;
  		align-content: center;
		text-align: center;	
		font-size: 1.5em
}
	.ct{
		display: flex;
		justify-content: space-between;
  		align-items: center;
  		align-content: center;
		margin-left: 10%;
		font-family: "din-2014", sans-serif;
		font-size: 25px;
}
	
	/*ABOUT PAGE*/
	
	.about{
		width: 90%;
 		height:auto;
 		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		margin-left: 5%;
		border-radius: 25px;
	}
	
	.about-img{
		height:400px;
	}
	.about h1{
		font-size: 2em;
		margin:0;
		font-family: "din-2014", sans-serif;
	}
	.about-text{
		position: absolute;
  		text-align: center;
		width:30em;
 		top: 40%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
  		color: black;
		border-radius: 25px;
	}
	.legal-about{
		color: white;
		background-color: darkred;
		margin-top: 10%;
	}
	.about-par{
		margin-left: 5px;
		margin-right: 5px;
	}
	
	/*INFO PAGE*/
	
	.info{
		width: 70%;
 		height: 100px;
 		position: relative;
  		margin: 0 auto;
	}
	
	.info img{
		margin:0px;
		padding: 0px;
	}
	
	.info h6{
		font-size:35px;
		margin: 0px;
	}
	
	.info p{
		
	}
	
	.sre img{
		
	}
	
	.info-sre{
		position: absolute;
  		text-align: center;
		margin-top:17%;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:15em;
  		color: black;
		border-radius: 25px;
	}
	
	.info-safety{
		position: absolute;
  		text-align: center;
		margin-top:65%;
		width:20em;
 		top: 50%;
  		left: 25%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:15em;
  		color: black;
		border-radius: 25px;
	}
	
	.DM{
		position: absolute;
  		text-align: center;
		margin-top:65%;
		width:20em;
 		top: 50%;
  		left: 75%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20em;
  		color: black;
		border-radius: 25px;
	}
	
	.info-hours{
		position: absolute;
  		text-align: center;
		margin-top:115%;
		width:23em;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20vw;
  		color: black;
		border-radius: 25px;
	}
	
}
@media only screen and ( min-width : 1200px ){

	img{
		width: 100%;
	}
	
	.navbar{
		background-color: darkred;
	}
	
	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.navbar img{
		height: 100px;
		width: auto;
		position: relative;
	}
	
	.navbar a {
		margin: 15px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	
	.navbar-menu{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	
	/*HOME PAGE*/
	.navbar-index {
  	display: flex;
  	align-items: center;
	justify-content: center;
	background-color: darkred;
	padding: 5px;
}
	.navbar-index a{
		padding: 5px;
	}
	
	.img-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		width:20vw;
		margin-top: -50%;
	}
	
	.dive-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		margin-top: -25%;
		font-size: 30px;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		
	}
	
	.dive-btn button{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		width: 20vw;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.home {
		width: 100%;
		margin: 0 auto;
	}
	
	.block {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #6495ed;
		border-radius: 25px;
	}

	.block img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.all-block {
		width: 100%;
		margin: 0 auto;
	}
	
	.text {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	.text h6 {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 4vh;
		padding: 12px;
		margin: 0px;
	}

	.text p {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	
	.lessons{
		position: absolute;
  		text-align: center;
		margin-top:55%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.snorkl{
		position: absolute;
  		text-align: center;
		margin-top:120%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.reef{
		position: absolute;
  		text-align: center;
		margin-top:185%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.cove{
		position: absolute;
  		text-align: center;
		margin-top:250%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
		.text-header{
			
	}
		.desc{
		display: flex;
		align-items: center;
  		align-content: center;
		text-align: center;
}
	.desc p{
		display: flex;
		align-items: center;
  		align-content: center;
		text-align: center;	
		font-size: 2em
}
	.ct{
		display: flex;
		justify-content: space-between;
  		align-items: center;
  		align-content: center;
		margin-left: 12.5%;
		font-family: "din-2014", sans-serif;
		font-size: 25px;
}
	/*the form*/
	.form{
		
	}
	/*ABOUT PAGE*/
	
	.about{
		width: 90%;
 		height: 100px;
 		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		margin-left: 5%;
		border-radius: 25px;
	}
	
	.about-img{
		height:400px;
	}
	.about h6{
		font-size: 50px;
		margin:0;
	}
	.about-text{
		position: absolute;
  		text-align: center;
		width:35em;
 		top: 40%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height: 25em;
  		color: black;
		border-radius: 25px;
	}
	
	.about-par{
		margin-left: 5px;
		margin-right: 5px;
	}
	.legal-about{
		color: white;
		background-color: darkred;
		margin-top: 38%;
	}
	/*INFO PAGE*/
	
	.info{
		width: 70%;
 		height: 100px;
 		position: relative;
  		margin: 0 auto;
	}
	
	.info img{
		margin:0px;
		padding: 0px;
	}
	
	.info h6{
		font-size: 50px;
		margin: 0px;
	}
	
	.info p{
		
	}
	
	.sre img{
		
	}
	
	.info-sre{
		position: absolute;
  		text-align: center;
		margin-top:15%;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20em;
  		color: black;
		border-radius: 25px;
	}
	
	.info-safety{
		position: absolute;
  		text-align: center;
		margin-top:65%;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20em;
  		color: black;
		border-radius: 25px;
	}
	
	.DM{
		position: absolute;
  		text-align: center;
		margin-top:65%;
		width:23em;
 		top: 50%;
  		right: 0%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20em;
  		color: black;
		border-radius: 25px;
	}
	
	.info-hours{
		position: absolute;
  		text-align: center;
		margin-top:110%;
		width:23em;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20vw;
  		color: black;
		border-radius: 25px;
	}
	
}

@media only screen and ( min-width : 1500px ){

	img{
		width: 100%;
	}
	
	.navbar{
		background-color: darkred;
	}
	
	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.navbar img{
		height: 100px;
		width: auto;
		position: relative;
	}
	
	.navbar a {
		margin: 15px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	
	.navbar-menu{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	
	/*HOME PAGE*/
	.navbar-index {
  	display: flex;
  	align-items: center;
	justify-content: center;
	background-color: darkred;
	padding: 5px;
}
	.navbar-index a{
		padding: 5px;
	}
	
	.img-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		width:20vw;
		margin-top: -50%;
	}
	
	.dive-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		margin-top: -25%;
		font-size: 30px;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		
	}
	
	.dive-btn button{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		width: 20vw;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.home {
		width: 100%;
		margin: 0 auto;
	}
	
	.block {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #6495ed;
		border-radius: 25px;
	}

	.block img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.all-block {
		width: 100%;
		margin: 0 auto;
	}
	
	.text {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	.text h6 {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 4vh;
		padding: 12px;
		margin: 0px;
	}

	.text p {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	
	.lessons{
		position: absolute;
  		text-align: center;
		margin-top:55%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.snorkl{
		position: absolute;
  		text-align: center;
		margin-top:120%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.reef{
		position: absolute;
  		text-align: center;
		margin-top:185%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.cove{
		position: absolute;
  		text-align: center;
		margin-top:250%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	.text-header{
		
	}
	.desc{
		display: flex;
}

	.ct{
	display: flex;
	justify-content: center;
  	align-items: center;
  	align-content: center;
	font-size: 25px;
	margin-left: 20%;
}
	/*ABOUT PAGE*/
	
	.about{
		width: 90%;
 		height: 100px;
 		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		margin-left: 5%;
		border-radius: 25px;
	}
	
	.about-img{
		height:400px;
	}
	.about h6{
		font-size: 50px;
		margin:0;
	}
	.about-text{
		position: absolute;
  		text-align: center;
		width:35em;
 		top: 40%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height: 25em;
  		color: black;
		border-radius: 25px;
	}
	
	.about-par{
		margin-left: 5px;
		margin-right: 5px;
	}
	
	/*INFO PAGE*/
	
	.info{
		width: 70%;
 		height: 100px;
 		position: relative;
  		margin: 0 auto;
	}
	
	.info img{
		margin:0px;
		padding: 0px;
	}
	
	.info h6{
		font-size: 50px;
		margin: 0px;
	}
	
	.info p{
		
	}
	
	.sre img{
		
	}
	
	.info-sre{
		position: absolute;
  		text-align: center;
		margin-top:200px;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20vw;
  		color: black;
		border-radius: 25px;
	}
	
	.info-safety{
		position: absolute;
  		text-align: center;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:20vw;
  		color: black;
		border-radius: 25px;
	}
	
	.DM{
		position: absolute;
  		text-align: center;
		width:23em;
 		top: 50%;
  		right: 0%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:21vw;
  		color: black;
		border-radius: 25px;
	}
	
	.info-hours{
		position: absolute;
  		text-align: center;
		width:23em;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:13vw;
  		color: black;
		border-radius: 25px;
	}
}
@media only screen and (min-width: 1792px){
	img{
		width: 100%;
	}
	
	.navbar{
		background-color: darkred;
	}
	
	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.navbar img{
		height: 100px;
		width: auto;
		position: relative;
	}
	
	.navbar a {
		margin: 15px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	
	.navbar-menu{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	
	/*HOME PAGE*/
	.navbar-index {
  	display: flex;
  	align-items: center;
	justify-content: center;
	background-color: darkred;
	padding: 5px;
}
	.navbar-index a{
		padding: 5px;
	}
	
	.img-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		width:20vw;
		margin-top: -50%;
	}
	
	.dive-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		margin-top: -25%;
		font-size: 30px;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		
	}
	
	.dive-btn button{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		width: 20vw;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.home {
		width: 100%;
		margin: 0 auto;
	}
	
	.block {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #6495ed;
		border-radius: 25px;
	}

	.block img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.all-block {
		width: 100%;
		margin: 0 auto;
	}
	.text {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}
	.text h6 {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 4vh;
		padding: 12px;
		margin: 0px;
	}
	.text p {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	
	.lessons{
		position: absolute;
  		text-align: center;
		margin-top:55%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.snorkl{
		position: absolute;
  		text-align: center;
		margin-top:120%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.reef{
		position: absolute;
  		text-align: center;
		margin-top:185%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.cove{
		position: absolute;
  		text-align: center;
		margin-top:250%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	.text-header{
		
	}
	.desc{
		display: flex;
}

	.ct{
	display: flex;
	justify-content: center;
  	align-items: center;
  	align-content: center;
}
	/*the form*/
	.form{
		
	}
	/*ABOUT PAGE*/
	
	.about{
		width: 90%;
 		height: 100px;
 		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		margin-left: 5%;
		border-radius: 25px;
	}
	
	.about-img{
		height:400px;
	}
	.about h6{
		font-size: 50px;
		margin:0;
	}
	.about-text{
		position: absolute;
  		text-align: center;
		width:35em;
 		top: 40%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height: 25em;
  		color: black;
		border-radius: 25px;
	}
	
	.about-par{
		margin-left: 5px;
		margin-right: 5px;
	}
	
	/*INFO PAGE*/
	
	.info{
		width: 70%;
 		height: 100px;
 		position: relative;
  		margin: 0 auto;
	}
	
	.info img{
		margin:0px;
		padding: 0px;
	}
	
	.info h6{
		font-size: 50px;
		margin: 0px;
	}
	
	.info p{
		
	}
	
	.sre img{
		
	}
	
	.info-sre{
		position: absolute;
  		text-align: center;
		margin-top:20%;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:18vw;
  		color: black;
		border-radius: 25px;
	}
	
	.info-safety{
		position: absolute;
  		text-align: center;
		margin-top:65%;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:18vw;
  		color: black;
		border-radius: 25px;
	}
	
	.DM{
		position: absolute;
  		text-align: center;
		margin-top:65%;
		width:23em;
 		top: 50%;
  		right: 0%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:18vw;
  		color: black;
		border-radius: 25px;
	}
	
	.info-hours{
		position: absolute;
  		text-align: center;
		margin-top:115%;
		width:23em;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:10vw;
  		color: black;
		border-radius: 25px;
	}
}
@media only screen and (min-width: 2560px){
	img{
		width: 100%;
	}
	
	.navbar{
		background-color: darkred;
	}
	
	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.navbar img{
		height: 100px;
		width: auto;
		position: relative;
	}
	
	.navbar a {
		margin: 15px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	
	.navbar-menu{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	
	/*HOME PAGE*/
	.navbar-index {
  	display: flex;
  	align-items: center;
	justify-content: center;
	background-color: darkred;
	padding: 5px;
}
	.navbar-index a{
		padding: 5px;
	}
	
	.img-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		width:20vw;
		margin-top: -50%;
	}
	
	.dive-btn{
		position: absolute;
		align-items: center;
		left: 40%;
		margin-top: -25%;
		font-size: 30px;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		
	}
	
	.dive-btn button{
		position: absolute;
		align-items: center;
		left: 35%;
		margin-top: -25%;
		font-size: 30px;
		width: 20vw;
		background-color: gray;
		cursor: pointer;
		border-radius: 25px;
		font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}
	
	.home {
		width: 100%;
		margin: 0 auto;
	}
	
	.block {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #6495ed;
		border-radius: 25px;
	}

	.block img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.all-block {
		width: 100%;
		margin: 0 auto;
	}
	
	.text {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	.text h6 {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 4vh;
		padding: 12px;
		margin: 0px;
	}

	.text p {
		font-family: "din-2014", sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	
	.lessons{
		position: absolute;
  		text-align: center;
		margin-top:55%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.snorkl{
		position: absolute;
  		text-align: center;
		margin-top:120%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.reef{
		position: absolute;
  		text-align: center;
		margin-top:185%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	
	.cove{
		position: absolute;
  		text-align: center;
		margin-top:250%;
		width:50vw;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:16em;
  		color: black;
		border-radius: 25px;
	}
	.text-header{
		
	}
	.desc{
		display: flex;
}

	.ct{
	display: flex;
	justify-content: center;
  	align-items: center;
  	align-content: center;
}
	/*the form*/
	.form{
		
	}
	/*ABOUT PAGE*/
	
	.about{
		width: 90%;
 		height: 100px;
 		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		margin-left: 5%;
		border-radius: 25px;
	}
	
	.about-img{
		height:400px;
	}
	.about h6{
		font-size: 50px;
		margin:0;
	}
	.about-text{
		position: absolute;
  		text-align: center;
		width:35em;
 		top: 45%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height: 25em;
  		color: black;
		border-radius: 25px;
	}
	
	.about-par{
		margin-left: 5px;
		margin-right: 5px;
	}
	
	/*INFO PAGE*/
	
	.info{
		width: 70%;
 		height: 100px;
 		position: relative;
  		margin: 0 auto;
	}
	
	.info img{
		margin:0px;
		padding: 0px;
	}
	
	.info h6{
		font-size: 50px;
		margin: 0px;
	}
	
	.info p{
		
	}
	
	.sre img{
		
	}
	
	.info-sre{
		position: absolute;
  		text-align: center;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:12vw;
  		color: black;
		border-radius: 25px;
	}
	
	.info-safety{
		position: absolute;
  		text-align: center;
		width:23em;
 		top: 50%;
  		left: 30%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:12vw;
  		color: black;
		border-radius: 25px;
	}
	
	.DM{
		position: absolute;
  		text-align: center;
		width:23em;
 		top: 50%;
  		right: 0%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:13vw;
  		color: black;
		border-radius: 25px;
	}
	
	.info-hours{
		position: absolute;
  		text-align: center;
		width:23em;
 		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		background-color: rgba(255, 255, 255, 0.5);
		height:10vw;
  		color: black;
		border-radius: 25px;
	}
}