@charset "UTF-8";
/* CSS Document */
/* Styles for small devices */

.logo{
	width:100px;
	height:100px;
	float:left;
	margins:5px;
}

.navbar{
	display: flex;
  	justify-content: space-between;
 	align-items: center;
 	padding: 20px;
	background-color:#F2D2BD;
}

@media only screen and (max-width: 360px){

	p{
width:90%;
margin:auto;
}
	
img{
width:100%;
}
	

	
	
	
	
	
	
}




@media only screen and (min-width: 700px){
/* Styles for devices wider than 700px */
p{
width:45%;
display: grid;
grid-auto-flow: column;
grid-gap: auto;
}
img{
width:50%;
}
}
