@charset "UTF-8";

/* CSS Document */
/* Styles for small devices */
/* Universal things */
body{
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color:white;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color:white;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color:white;
}

.navbar a:hover {
	color: #ccc;
}

.logo {
	width: 150px;
	height: 150px;
	float: left;
	margins: 5px;
}

footer {
	width: 100%;
}

img{
	width: 100%;
}

.contact-hero {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #e5e4e2;
		border-radius: 25px;
	}

	.contact-hero img {
		width: 95%;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}
.contact-head{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		background-color: rgb(160, 200, 160);
		opacity: 100%;
		color: white;
}

.contact-head p{
	padding: 10px;
	color: black;
}

form{
	width: 80%;
	align-content: center;
	text-align: left;
}

	.fill{
		width: 100%;
  		padding: 1.7%;
  		margin: 1.5% 0;
  		font-size: 1em;
  		border-radius: 4px;
  		border: 1px solid #ccc;
  		box-sizing: border-box;
}
 form h1{
		background-color: rgb(160, 200, 160);
		color: white;
	 	font-size: 1.5em;
	 	padding: 10px;
		box-shadow:
    	-3px -3px 0 #b3b3b3,
    	3px -3px 0 #b3b3b3,
    	-3px 3px 0 #b3b3b3,
    	3px 3px 0 #b3b3b3;
		box-sizing: border-box
}
.boxes{
	box-shadow:
    	-3px -3px 0 #b3b3b3,
    	3px -3px 0 #b3b3b3,
    	-3px 3px 0 #b3b3b3,
    	3px 3px 0 #b3b3b3;
		box-sizing: border-box
}
	.check{
		display: inline-block;
  		position: relative;
  		padding-left: 35px;
  		margin-bottom: 12px;
  		cursor: pointer;
  		font-size: 1em;
  		-webkit-user-select: none;
  		-moz-user-select: none;
  		-ms-user-select: none;
  		user-select: none;
}
.submit button{
	color:white;
	background-color: rgb(160, 200, 160);
	text-align: center;
	font-size: 2em;
	margin-top:10px;
	cursor:pointer;
}

.thanks{
	background-color: rgb(160, 200, 160);
}
.thanks h6{
	text-align: center;
	padding: 15px;
	font-size: 1em;
}
@media only screen and (min-width: 150px) and (max-width: 670px) {
	p {
		width: 90%;
		margin: auto;
		font-family: Arial, Helvetica, sans-serif;
	}

	img {
		width: 100%;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		background-color: #e5e4e2;
		font-family: "address-sans-pro-condensed", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.logo{
		margin-top: 15%;
		width: 20vw;
	}
	
	.logo-footer{
		width: 20vw;
		display: flex;
	}
	
	.navbar a {
		margin: 3px;
		font-size: 20px;
		font-family: "address-sans-pro-condensed", sans-serif;
	}

	/* text block */	
	.banner-box {
 		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		background-color: rgb(160, 200, 160);
		opacity: 100%;
		color: white;
		padding: 5px;
	}
	.banner-box h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 2em;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 16px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
		color: black;
	}
	
	.column {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #e5e4e2;
		border-radius: 25px;
	}

	.column img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	/* TEAM PAGE!!!!!*/
	
	/* DANG BLOCKS */
	.navbar {
		justify-content: space-between;
		padding: 10px 3vw;
		height: 100px;
	}
	.row {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #e5e4e2;
		border-radius: 25px;
	}

	.row img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.restrictive-block {
		width: 100%;
		margin: 0 auto;
	}
	#green .description {
		background-color: rgb(160, 200, 160);
	}
	#pink .description {
		background-color: pink;
	}
	.description {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	.description h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 4vw;
		padding: 12px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	/* END OF DANG BLOCKS */

	/* ABOUT PAGE!!!!!*/

	.about-info{
		background-color: rgb(160, 200, 160);
	}
	.about-info h1{
		font-size: 2em;
		text-align: left;
	}
	
	.about-info h4{
		text-align: center;
		font-size: 1em;
	}
	
	.about-info p{
		font-size: 1em;
		margin-bottom: 10px;
	}

	.about-par {
		text-align: center;
	}

	/* CONTACT PAGE!!!!!*/
	.contact-head{
		background-color: rgb(160, 200, 160);
	}
	.form input{
		display: flex;
		align-content: space-around
	}
	/* SERVICES PAGE!!!!!*/
	.banner-box-services {
 		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		background-color: rgb(160, 200, 160);
		opacity: 100%;
		color: white;
	}
	.banner-box-services h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 2em;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box-services p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 16px;
		padding: 10px 0px;
		width: 100%;
		color: black;
	}
	.services{
		width: 100%;
		margin:0 auto;
	}
	.service{
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #e5e4e2;
		border-radius: 25px;
	}
	
	.service img{
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}
	
	.about-services{
		background-color: white;
		height: 21vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	#green .about-services {
		background-color: rgb(160, 200, 160);
	}

	.about-services h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 4vw;
		padding: 12px;
		margin: 0px;
	}

	.about-services p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 1.1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
}

@media only screen and (min-width: 460px){
	.logo{
		margin-top: 10%;
		width: 15vw;
	}
	
	.logo-footer{
		width: 15vw;
		display: flex;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 10vw;
		background-color: #e5e4e2;
		font-family: "address-sans-pro-condensed", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	.navbar a {
		margin: 3px;
		font-size: 25px;
		font-family: "address-sans-pro-condensed", sans-serif;
	}
	.navbar-link {
		color: #f2f2f2;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	.navbar-menu {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
}
@media only screen and (min-width: 670px) {
	/* Styles for devices wider than 768px */
	p {
		width: 45%;
		display: grid;
		grid-auto-flow: column;
		grid-gap: auto;
	}

	img {
		width: 100%;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px 10vw;
		background-color: #e5e4e2;
		font-family: "address-sans-pro-condensed", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	/* NAVBAR */
	.logo{
		margin-top: 50px;
		width: 100px;
	}
	
	.logo-footer{
		width: 100px;
	}

	.navbar a {
		margin: 3px;
		font-size: 25px;
		font-family: "address-sans-pro-condensed", sans-serif;
	}
	.navbar-link {
		color: #f2f2f2;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	.navbar-menu {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}

	/*  text blocks */

	.banner-index{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}	
	
	.banner-index img{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		width:80%;
		hight:400px;
	}	
	
	.banner-box {
		position: absolute;
  		width: 40vw;
		background-color: rgb(160, 200, 160);
		top:20%;
		left:12%;
	}
	.banner-box h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 5vw;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 16px;
		padding: 10px 0px;
		margin: 5px;
		width: 100%;
		color: black;
	}
	
	.blurbs{
	display: flex;
  	flex-direction: row;
	flex-wrap: wrap;
  	width: 100%;
	}
	
	.column {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		margin: 10px 1vw;
	}

	.column img {
		width: 18vh;
		height: 18vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	
	.column-text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		margin: 10px 1vw;
	}

	/* TEAM PAGE !!!!!!*/
	/* DANG BLOCKS */
	.navbar {
		justify-content: space-between;
		padding: 10px 3vw;
		height: 100px;
	}

	.row {
		display: flex;
		align-items: center;
		margin: 10px 1vw;
	}

	.row img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}

	.restrictive-block {
		width: 100%;
		margin: 0 auto;
	}
	#green .description {
		background-color: rgb(160, 200, 160);
	}
	#pink .description {
		background-color: pink;
	}
	.description {
		background-color: khaki;
		height: 20vh;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	.description h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 16px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
	/* END OF DANG BLOCKS */

	/* ABOUT PAGE!!!!!*/

	.about-info{
		display: flex;
		align-items: center;
		align-content: space-between;
		margin-bottom: 10px;
	}
	
	.about-info img{
		width: 100%;
		height: auto;
		border-radius: 50px;
		
	}
	.about-block-text{
		background-color: rgb(160, 200, 160);
	}
	.about-info h1{
		font-size: 4em;
		margin-left: 20px;
	}
	
	.about-info h4{
		text-align: center;
		font-size: 2em;
	}
	
	.about-info p{
		font-size: 1em;
		margin-bottom: 10px;
		margin-left: 20px;	
	}
	/* CONTACT PAGE!!!!!*/
	.contact-hero {
		background-color: #e5e4e2;
		border-radius: 25px;
	}

	.contact-hero img {
		width: 95%;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
		height: 40%;
	}

.contact-head{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		background-color: rgb(160, 200, 160);
		opacity: 100%;
		color: white;
}

.contact-head p{
	padding: 10px;
	color: black;
}
	
	form{
		width: 100%;
		font-size: 1em;
		text-align: center;
	}
	.fill{
		width: 80%;
  		padding: 1.7%;
  		margin: 1.5% 0;
  		font-size: 2em;
  		border-radius: 4px;
  		border: 1px solid #ccc;
  		box-sizing: border-box;
		text-align: left;
	}
	.fill-p{
		font-size: 1.5em;
	}
	.boxes h1{
		text-align: center;
	}
	.check{
		display: inline-block;
  		position: relative;
  		padding-left: 35px;
  		margin-bottom: 12px;
  		cursor: pointer;
  		font-size: 22px;
  		-webkit-user-select: none;
  		-moz-user-select: none;
  		-ms-user-select: none;
  		user-select: none
	}
	.submit{
		text-align: center;
	}
	
	/* SERVICES PAGE!!!!!*/

	.banner-services{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}
	
	.banner-box-services {
 		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		background-color: rgb(160, 200, 160);
		opacity: 100%;
		color: white;
	}
	.banner-box-services h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 2em;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box-services p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 16px;
		padding: 10px 0px;
		width: 100%;
		color: black;
	}
	.services{
		width: 100%;
		margin: 0 auto;
	}
	.service {
		display: flex;
		align-items: center;
		margin: 10px 1vw;
	}
	.service img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	
	.about-services{
		background-color: khaki;
		height: 20em;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}
	#green .about-services {
		background-color: rgb(160, 200, 160);
	}
	.about-services h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2em;
		padding: 10px 0px;
		margin: 0px;
	}

	.about-services p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 16px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
}

@media only screen and (min-width: 960px) {
	/* Styles for devices wider than 768px */
	p {
		width: 45%;
		display: grid;
		grid-auto-flow: column;
		grid-gap: auto;
	}

	img {
		width: 100%;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px 10vw;
		background-color: #e5e4e2;
		font-family: "address-sans-pro-condensed", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	/* NAVBAR */
	.navbar-logo img {
		height: 70px;
		width: auto;
		position: relative;
	}

	.navbar a {
		margin: 10px;
		font-size: 25px;
	}
	.navbar-link {
		color: #f2f2f2;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	.navbar-menu {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	/*  text blocks */
	.banner-index{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}	
	.banner-index img{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		width:80%;
		hight:400px;
	}	
	
	.banner-box {
		position: absolute;
  		width: 40vw;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:25%;
		left:15%;
	}
	.banner-box h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 5vw;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 16px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
		color: black;
	}
	
	.blurbs{
		display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
	}
	
	.column {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		margin: 10px 1vw;
	}

	.column img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}

	/* TEAM PAGE !!!!!!*/
	/* DANG BLOCKS */
	.navbar {
		justify-content: space-between;
		padding: 10px 3vw;
		height: 100px;
	}

	.row {
		display: flex;
		align-items: center;
		margin: 10px 1vw;
	}

	.row img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}

	.restrictive-block {
		width: 100%;
		margin: 0 auto;
	}
	#green .description {
		background-color: rgb(160, 200, 160);
	}
	#pink .description {
		background-color: pink;
	}
	.description {
		background-color: khaki;
		height: 20vh;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	.description h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 16px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
	/* END OF DANG BLOCKS */

	/* ABOUT PAGE!!!!!*/

		.about-info{
		display: flex;
		align-items: center;
		align-content: space-between;
		margin-bottom: 10px;
	}
	
	.about-info img{
		width: 100%;
		height: auto;
		border-radius: 50px;
		
	}
	.about-block-text{
		background-color: rgb(160, 200, 160);
	}
	.about-info h1{
		font-size: 4em;
		margin-left: 20px;
	}
	
	.about-info h4{
		text-align: center;
		font-size: 3em;
	}
	
	.about-info p{
		font-size: 20px;
		margin-bottom: 10px;
		margin-left: 20px;	
	}
	/* CONTACT PAGE!!!!!*/
.contact-hero {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		background-color: #e5e4e2;
		border-radius: 25px;
	}

	.contact-hero img {
		width: 95%;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
		height: 40%;
	}

.contact-head{
		position: absolute;
		width:20em;
		height: 20em;
		background-color: rgb(160, 200, 160);
		margin-top: 5%;
		right:12%;
}
	
	form{
		width: 100%;
		text-align: center;
		font-size: 1em;
	}
	.fill{
		width: 80%;
  		padding: 1.7%;
  		margin: 1.5% 0;
  		font-size: 2em;
  		border-radius: 4px;
  		border: 1px solid #ccc;
  		box-sizing: border-box;
		text-align: left;
	}
	.boxes h1{
		text-align: center;
	}
	.check{
		display: inline-block;
  		position: relative;
  		padding-left: 35px;
  		margin-bottom: 12px;
  		cursor: pointer;
  		font-size: 22px;
  		-webkit-user-select: none;
  		-moz-user-select: none;
  		-ms-user-select: none;
  		user-select: none
	}
	body{ 
		text-align:center;
	}
	.submit{
		text-align: center;
	}
	
	/* SERVICES PAGE!!!!!*/

	.banner-services{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}
	
	.banner-box-services {
 		position: absolute;
  		width: 25vw;
		height: 21em;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:11%;
		left:15%;
	}
	.banner-services img{
		width:80%;
	}
	.banner-box-services h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 4vh;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box-services p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 20px;
		padding: 10px 0px;
		width: 100%;
		color: black;
	}
	
	.services{
		width: 100%;
		margin:0 auto;
	}

	.service {
		display: flex;
		align-items: center;
		margin: 10px 1vw;
	}

	.service img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	
	.about-services{
		background-color: khaki;
		height: 18em;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	#green .about-services {
		background-color: rgb(160, 200, 160);
	}

	.about-services h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.about-services p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 25px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
}
@media only screen and (min-width: 1200px) {
	.navbar {
		justify-content: space-between;
		padding: 10px 10vw;
		height: 8vw;
	}
	.restrictive-block {
		width: 85%;
		margin: 0 auto;
	}
	.description h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 12px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 18px;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	.navbar img{
	}
	
	/*HOME PAGE */
	
	.banner-index{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}	
	
	.banner-index img{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		width:80%;
		hight:400px;
	}	
	
	.banner-box {
		position: absolute;
  		width: 40vw;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:30%;
		left:15%;
	}
	.banner-box h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 5vw;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 20px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
		color: black;
	}
	.column {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		margin: 10px 1vw;
	}

	.column img {
		width: 30vh;
		height: 30vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	
	/*services*/
	.banner-box-services {
 		position: absolute;
  		width: 27em;
		height: 22em;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:13%;
		left:15%;
	}
	.banner-services img{
		width:80%;
	}
	.banner-box-services h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 5vh;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box-services p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 2vh;
		padding: 10px 0px;
		width: 100%;
		color: black;
	}
	/* ABOUT PAGE */
	
		.about-info{
		display: flex;
		align-items: center;
		align-content: space-between;
		margin-bottom: 10px;
	}
	
	.about-info img{
		width: 70%;
		height: auto;
		border-radius: 50px;
		
	}
	.about-block-text{
		background-color: rgb(160, 200, 160);
	}
	.about-info h1{
		font-size: 5em;
		margin-left: 20px;
	}
	
	.about-info h4{
		text-align: center;
		font-size: 3em;
	}
	
	.about-info p{
		font-size: 1.25vw;
		margin-bottom: 10px;
		margin-left: 20px;	
	}
	/*CONTACT PAGE*/
	.contact-head{
		background-color: rgb(160, 200, 160);
	}
}
@media only screen and (min-width: 1792px) {
	.navbar {
		justify-content: space-between;
		padding: 10px 10vw;
		height: 8vw;
	}
	.restrictive-block {
		width: 85%;
		margin: 0 auto;
	}
	.description h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 12px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 18px;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	.navbar img{
	}
	/*HOME PAGE */
	
	.banner-index{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}	
	
	.banner-index img{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		width:80%;
		hight:400px;
	}	
	
	.banner-box {
		position: absolute;
  		width: 40vw;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:30%;
		left:15%;
	}
	.banner-box h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 5vw;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 20px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
		color: black;
	}
	.column {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		margin: 10px 1vw;
	}

	.column img {
		width: 30vh;
		height: 30vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	/* ABOUT PAGE */
	
		.about-info{
		display: flex;
		align-items: center;
		align-content: space-between;
		margin-bottom: 10px;
	}
	
	.about-info img{
		width: 70%;
		height: auto;
		border-radius: 50px;
	}
	.about-block-text{
		background-color: rgb(160, 200, 160);
	}
	.about-info h1{
		font-size: 5em;
		margin-left: 20px;
	}
	
	.about-info h4{
		text-align: center;
		font-size: 3em;
	}
	
	.about-info p{
		font-size: 1.25vw;
		margin-bottom: 10px;
		margin-left: 20px;	
	}
	
	/*CONTACT PAGE*/
	.contact-head{
		background-color: rgb(160, 200, 160);
	}
/* SERVICES PAGE!!!!!*/

	.banner-services{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}
	
	.banner-box-services {
 		position: absolute;
  		width: 25vw;
		height: 30vh;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:20%;
		left:15%;
	}
	.banner-services img{
		width:80%;
	}
	.banner-box-services h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 5vh;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box-services p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 25px;
		padding: 10px 0px;
		width: 100%;
		color: black;
	}
	
	
	.services{
		width: 100%;
		margin:0 auto;
	}

	.service {
		display: flex;
		align-items: center;
		margin: 10px 1vw;
	}

	.service img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	
	.about-services{
		background-color: khaki;
		height: 15em;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	#green .about-services {
		background-color: rgb(160, 200, 160);
	}

	.about-services h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 3vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.about-services p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 25px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
}
@media only screen and (min-width: 2560px){
	.navbar {
		justify-content: space-between;
		padding: 10px 10vw;
		height: 8vw;
	}
	.restrictive-block {
		width: 85%;
		margin: 0 auto;
	}
	.description h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 12px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 18px;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	.navbar img{
	}
	
	/*HOME PAGE */
	
	.banner-index{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		bottom: 20px;
		right: 20px;
		opacity: 100%;
		color: white;
	}	
	
	.banner-index img{
		display: flex;
  		flex-direction: column;
  		align-items: center;
		width:80%;
		hight:400px;
	}	
	
	.banner-box {
		position: absolute;
  		width: 40vw;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:30%;
		left:15%;
	}
	.banner-box h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 5vw;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 20px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
		color: black;
	}
	.column {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		margin: 10px 1vw;
	}

	.column img {
		width: 30vh;
		height: 30vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	/* ABOUT PAGE */
	
		.about-info{
		display: flex;
		align-items: center;
		align-content: space-between;
		margin-bottom: 10px;
	}
	
	.about-info img{
		width: 70%;
		height: auto;
		border-radius: 50px;
	}
	.about-block-text{
		background-color: rgb(160, 200, 160);
	}
	.about-info h1{
		font-size: 5em;
		margin-left: 20px;
	}
	
	.about-info h4{
		text-align: center;
		font-size: 3em;
	}
	
	.about-info p{
		font-size: 1.25vw;
		margin-bottom: 10px;
		margin-left: 20px;	
	}
	/*SERVICE*/
	.banner-box-services {
 		position: absolute;
  		width: 31vw;
		height: 50vh;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:30%;
		left:15%;
	}
	.banner-services img{
		width:80%;
	}
	.banner-box-services h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 8em;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box-services p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 40px;
		padding: 10px 0px;
		width: 100%;
		color: black;
	}
	
	.service {
		display: flex;
		align-items: center;
		align-content: center;
		margin: 10px 1vw;
		width: 80%;
	}

	.service img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	
	.about-services{
		background-color: khaki;
		height: 20vh;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	#green .about-services {
		background-color: rgb(160, 200, 160);
	}

	.about-services h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.about-services p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size:25px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
	/*TEAM PAGE*/
	/* DANG BLOCKS */
	.navbar {
		justify-content: space-between;
		padding: 10px 3vw;
		height: 100px;
	}

	.row {
		display: flex;
		align-items: center;
		margin: 10px 1vw;
	}

	.row img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}

	.restrictive-block {
		width: 80%;
		margin: 0 auto;
	}
	#green .description {
		background-color: rgb(160, 200, 160);
	}
	#pink .description {
		background-color: pink;
	}
	.description {
		background-color: khaki;
		height: 20vh;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	.description h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 30px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
	/* END OF DANG BLOCKS */
	/* CONTACT PAGE!!!!!*/
	.contact-head{
		background-color: rgb(160, 200, 160);
	}
	.form{
		
	}
/*SERVICE*/
	.banner-box-services {
 		position: absolute;
  		width: 31vw;
		height: 50vh;
		background-color: rgb(160, 200, 160);
		padding-left: 20px;
		padding-right: 20px;
		top:20%;
		left:15%;
	}
	.banner-services img{
		width:80%;
	}
	.banner-box-services h4{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 8em;
		padding: 10px 0px;
		margin: 0px;
	}
	.banner-box-services p{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 40px;
		padding: 10px 0px;
		width: 100%;
		color: black;
	}
	
	.service {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		margin: 10px 1vw;
		width: 80%;
		margin-left: 10%;
	}

	.service img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}
	
	.about-services{
		background-color: khaki;
		height: 20vh;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	#green .about-services {
		background-color: rgb(160, 200, 160);
	}

	.about-services h6 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.about-services p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size:25px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
}