@charset "UTF-8";

/* CSS Document */
/* Styles for small devices */
/* Universal things */

a {
	color: black;
	text-decoration: none;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
}
h6 {
	font-family: Comic Sans MS, cursive, sans-serif;
	text-align: left;
}

.navbar a:hover {
	color: #ccc;
}

.logo {
	width: 150px;
	height: 150px;
	float: left;
	margins: 5px;
}

footer {
	width: 100%;
}

@media only screen and (min-width: 150px) and (max-width: 670px) {
	p {
		width: 90%;
		margin: auto;
		font-family: Arial, Helvetica, sans-serif;
	}

	img {
		width: 100%;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		background-color: #e5e4e2;
		font-family: "address-sans-pro-condensed", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.navbar-logo img {
		width: auto;
		position: relative;
	}
	.navbar a {
		margin: 3px;
		font-size: 24px;
	}

	.navbar-link {
		color: #000000;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}

	/* text block */

	.banner-image {
		display: flex;
		position: relative;
		top-margin: 10px;
	}

	.banner-box {
		display: block;
		position: relative;
		/* display:flex;*/
		align-items: center;
		bottom: 20px;
		right: 20px;
		background-color: #008000;
		opacity: 50%;
		color: white;
	}
	.banner-box-header {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-color: #ffffff;
		display: flex;
		align-content: center;
	}

	.banner-box-text {
		display: flex;
		align-content: center;
		opacity: 100%;
	}

	/* Image blocks */

	/* DANG BLOCKS */
	.navbar {
		justify-content: space-between;
		padding: 10px 3vw;
		height: 100px;
	}
	.row {
		display: flex;
		flex-direction: column; /* turn to vertical display */
		align-items: center;
		margin: 20px 1vw;
		background-color: #e5e4e2;
		border-radius: 25px;
	}

	.row img {
		width: 95%;
		height: 60vw;
		object-fit: cover;
		object-position: center;
		margin: 2vw 20px 1vw;
		border-radius: 20px;
	}

	.restrictive-block {
		width: 100%;
		margin: 0 auto;
	}
	#green .description {
		background-color: rgb(160, 200, 160);
	}
	#pink .description {
		background-color: pink;
	}
	.description {
		background-color: white;
		height: 20vh;
		width: 95%;
		margin: 2vw 20px 2vw;
		padding: 0px 0px 0px 0px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
		border-radius: 20px;
	}

	.description h6 {
		font-family: Comic Sans MS, cursive, sans-serif;
		text-align: left;
		font-size: 4vw;
		padding: 12px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 1em;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
	/* END OF DANG BLOCKS */

	/* ABOUT PAGE!!!!!*/
	.about-info .founder-img {
		max-width: 450px;
		opacity: 100%;
	}

	.about-info .full-story {
		align-content: center;
		background-color: #228b22;
	}

	.founder-text {
		background-color: #008000;
		opacity: 70%;
		margin-right: 10%;
	}

	.about-header {
		color: #ffffff;
		text-align: left;
		font-size: 50px;
	}

	.about-par1 {
		align-content: center;
	}

	.success {
		color: #ffffff;
		text-align: center;
		font-size: 35px;
	}

	.about-par2 {
		text-align: center;
		margins: 1px;
		font-size: 15px;
	}

	.about-par3 {
		text-align: center;
		font-size: 15px;
	}

	/* CONTACT PAGE!!!!!*/

	/* TEAM PAGE!!!!!*/

	/* SERVICES PAGE!!!!!*/

	.services img {
		width: 25%;
		border-radius: 25px;
		margin-left: 10%;
	}
	.service-sub {
		color: #ffffff;
		font-size: 30px;
		text-align: center;
	}

	.service-p {
	}
	.banner-box-services {
		background-color: #8b0000;
	}

	.banner-box-header-service {
		color: #ffffff;
		font-size: 30px;
		text-align: center;
	}
	/*stockmarket*/
	.stockmarket {
	}
	.stockpic {
	}
	.service-about-s {
		background-color: #228b22;
	}
	/*banking*/
	.banking {
	}
	.bankpic {
	}
	.service-about-b {
		background-color: #228b22;
	}
	.service-about-b p {
		opacity: 100%;
	}
	/*budget*/
	.budget {
	}
	.budgetpic {
	}
	.service-about-bs {
		background-color: #228b22;
	}
}

@media only screen and (min-width: 670px) {
	/* Styles for devices wider than 768px */
	p {
		width: 45%;
		display: grid;
		grid-auto-flow: column;
		grid-gap: auto;
	}

	img {
		width: 100%;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px 10vw;
		background-color: #e5e4e2;
		font-family: "address-sans-pro-condensed", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	/* NAVBAR */
	.navbar-logo img {
		height: 70px;
		width: auto;
		position: relative;
	}

	.navbar a {
		margin: 10px;
		font-size: 25px;
	}
	.navbar-link {
		color: #f2f2f2;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px;
	}
	.navbar-menu {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}

	/*  text blocks */
	.banner {
		width: 900px;
		height: 100px;
		position: relative;
		margin: 0 auto;
	}

	.banner-box {
		position: absolute;
		text-align: center;
		top: 178px;
		left: 18px;
		background-color: #008000;
		opacity: 100%;
		color: white;
		padding-left: 20px;
		padding-right: 20px;
	}
	.banner-box-text {
		opacity: 100%;
		text-align: center;
	}

	/* DANG BLOCKS */
	.navbar {
		justify-content: space-between;
		padding: 10px 3vw;
		height: 100px;
	}

	.row {
		display: flex;
		align-items: center;
		margin: 10px 1vw;
	}

	.row img {
		width: 20vh;
		height: 20vh;
		object-fit: cover;
		object-position: center;
		margin: 0px 20px;
		border-radius: 25px;
	}

	.restrictive-block {
		width: 100%;
		margin: 0 auto;
	}
	#green .description {
		background-color: rgb(160, 200, 160);
	}
	#pink .description {
		background-color: pink;
	}
	.description {
		background-color: khaki;
		height: 20vh;
		width: 90%;
		margin: 0.5vw 20px;
		padding: 0px 20px 0px 20px;
		overflow-wrap: break-word; /* Breaks long words to the next line */
	}

	.description h6 {
		font-family: Comic Sans MS, cursive, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 10px 0px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 16px;
		padding: 10px 0px;
		margin: 0px;
		width: 100%;
	}
	/* END OF DANG BLOCKS */

	.about-block-text {
		text-align: center;
	}
	.service-block-text {
		text-align: center;
	}
	.team-block-text {
		text-align: center;
	}

	/* ABOUT PAGE!!!!!*/

	.about-info .founder-img {
		max-width: 450px;
		opacity: 100%;
	}

	.about-info .full-story {
		background-color: #228b22;
		max-width: 400px;
		float: right;
	}
	.founder-img {
		width: 100%;
		margin-left: 10%;
		float: left;
		opacity: 100%;
	}

	.founder-text {
		background-color: #008000;
		opacity: 70%;
		width: 40%;
		margin-right: 10%;
		margin-left: 50%;
		float: right;
		max-width: 400px;
	}

	.about-par1 {
		align-content: center;
	}

	.success {
		color: #ffffff;
		text-align: center;
		font-size: 50;
	}

	.about-par2 {
		text-align: center;
		font-size: 20px;
		margin-left: 20px;
	}

	.about-par3 {
		text-align: center;
	}

	/* CONTACT PAGE!!!!!*/

	/* TEAM PAGE!!!!!*/

	.team {
	}

	.team img {
		width: 25%;
		border-radius: 25px;
		margin-left: 10%;
	}

	.team .team-about {
		width: 60%;
		margin-top: -50px;
		float: right;
	}

	.about-sub {
		color: #ffffff;
		font-size: 30px;
		text-align: center;
	}
	.about-p {
		font-size: 20px;
		margin-bottom: 5px;
	}
	/* SERVICES PAGE!!!!!*/

	.services img {
		width: 25%;
		border-radius: 25px;
		margin-left: 10%;
	}
}

@media only screen and (min-width: 1200px) {
	.navbar {
		justify-content: space-between;
		padding: 10px 10vw;
		height: 8vw;
	}
	.restrictive-block {
		width: 85%;
		margin: 0 auto;
	}
	.description h6 {
		font-family: Comic Sans MS, cursive, sans-serif;
		text-align: left;
		font-size: 2vw;
		padding: 12px;
		margin: 0px;
	}

	.description p {
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 18px;
		padding: 12px;
		margin: 0px;
		width: 95%;
	}
}