@charset "UTF-8";
/* CSS Document */
/*UNIVERSAL STYLES */

p {
	font-family: "din-2014", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@media only screen and ( min-width : 300px ) and (max-width : 670px ){

	img{
		width: 100%;
	}
	
	
	
	
	
	
}

@media only screen and ( min-width : 670px ){

	img{
		width: 100%;
	}
	
	
	
	
	
	
	
}